@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat',Verdana, sans-serif;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color:#0D5DAB;
    position: fixed;
    top: 0;
    width: 100%;
   color: white;
   gap: 700px;
}
ul{
    display: flex;
    gap: 30px;
    margin: 10px;
}

a, li{
    list-style: none;
    text-decoration: none;
    color: white;
}
h1{
    font-weight: 100;
}
.localização{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
address{
    text-align: center;
}
.redes-sociais{
    margin-top: 100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    margin: 5px;
}
a:hover{
    transform: scale(1.3);
    transition: all 0.3s;
}
input{
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    width: 300px;

}