@media screen and (max-width: 500px) {
   
    header{
        
       display: inline-block;
       position:relative;
    }
    body{
        overflow-x: hidden;
    }
}
   
@media screen and (max-width: 1200px) {
   
    header{
       display: inline-block;
       position:relative;
    }
    body{
        overflow-x: hidden;
    }
}
