@media screen and (max-width: 800px) {
   
    header{
        
       display: inline-block;
       position:relative;
    }
}
@media screen and (max-width: 1200px) {
   
    header{
        
       display: inline-block;
       position:relative;
    }
}